@(signupForm: Form[forms.account.SignupForm], loginForm: Form[forms.account.LoginForm])

@import helper._

@header = {
  @form(routes.Application.authenticate(), 'class -> "navbar-form pull-right") {
    <input class="span2" type="text" placeholder="Email">
    <input class="span2" type="password" placeholder="Password">
    <button type="submit" class="btn">Sign in</button>
  }
}

@main(title = "OTP", header = header) {
  @wflash()

  <div class="offset3 span6">
    <div class="well">
    @account.signup.createFormOnly(signupForm)
    </div>
  </div>
}
